<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto }}</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        main {
            flex: 1;
        }
        footer {
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>

    <main>
        <h1>Bienvenido a la web de Batallas Pokemon</h1>
    </main>
    <footer>
        <p>{{ proyecto }} - {{ nombre }} - {{ año }}</p>
    </footer>
</body>
</html>